<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>User dashboard</title>
  </head>
  <body>
    {% if request.user.is_staff %}
    <a href="{% url 'admin:index' %}">Admin</a><br/>
    {% endif %}

    <a href="{% url 'account:logout' %}">Logout</a>

    <form action="{% url 'account:upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{form}}
      <input type="submit" value="upload" />
    </form>

    {% if files %}
    <p>My files:</p>
    <table>
      {% for file in files %}
      <tr>
        <td><a href="{% url 'uploader:download' file.id %}">{{ file.display_name }}</a></td>
        <td>permalink: <input type="text" value="{{ request.scheme }}://{{ request.get_host }}{% url 'uploader:download' file.id %}" readonly/></td>
        <td><a href="{% url 'uploader:download' file.id %}">download</a></td>
        <td><a href="{% url 'account:delete' file.id %}">delete</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>I have no any files</p>
    {% endif %}
  </body>
</html>